/* src/index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(24, 25, 27);
  background-image: url("http://localhost:8080/assets/textures/8k_stars_milky_way.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

body,
html {
  height: 100%;
  overflow-x: hidden;
}