/* src/components/Planet/Planet.css */
.page {
    position: relative;
    min-height: 90vh;
    /*overflow: hidden; */
}

.planet-container {
    position: relative;
    height: 80vh;
    z-index: 4;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    border: 2px solid #ddd;

}

.planet-info {
    background-color: #191b1e9f;
    max-height: 85vh;
    font-size: 1rem;
    padding: 20px;
    color: #dcdcdc;
    border-radius: 15px;
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top:2vh;
    margin-left: 20px;
    margin-bottom: 10px;
    position: relative;
}

.planet-info p {
    margin-bottom: 5px; /* Zmniejszenie odstępów między akapitami */
    line-height: 1.9; /* Ustawienie wysokości linii dla większej gęstości tekstu */
}

.moons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.planet-info li a {
    text-decoration: none;
    color: #58a6ff;
    transition: color 0.3s;
}
.planet-info ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* kolumny */
    grid-gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.planet-info li a:hover {
    color: #1f78d1;
}
.moons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.moon-pagination {
    display: flex; /* Ustawienie paginacji w jednym rzędzie */
    justify-content: center; /* Wyśrodkowanie paginacji */
    position: absolute; /* Absolutne pozycjonowanie wewnątrz .planet-info */
    bottom: 5px; /* Odstęp od dolnej krawędzi */
    left: 50%; /* Wyśrodkowanie względem kontenera */
    transform: translateX(-50%); /* Dodatkowe wyrównanie do środka */
    gap: 5px; /* Odstępy między przyciskami */
    width: 100%; /* Zapewnienie pełnej szerokości */
}
.moon-pagination button {
    background-color: rgba(255, 255, 255, 0.1);;
    color: #fff;
    border: 1px solid #58a6ff;
    border-radius: 5px;
    padding: 3px 8px;
    cursor: pointer;
    font-size: 0.9rem;
}
.moon-pagination button.active {
    background-color: #58a6ff;
    color: #fff;
}

.moons-grid {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 kolumny */
    grid-template-rows: repeat(6, auto); /* 6 wierszy */
    gap: 10px;
}

.carousel {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 15px;
}

.carousel-item {
    display: grid;
    grid-gap: 10px;
    list-style: none;
    padding: 10px;
    margin: 0;
}

.carousel-item.active {
    display: block;
}

.carousel-pagination {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

.carousel-page-btn {
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.carousel-page-btn:hover,
.carousel-page-btn.active {
    background-color: #58a6ff;
    color: #fff;
}
.label {
    color: rgba(131, 125, 125, 0.742);
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-shadow: 0 0 5px black;
    position: relative;
    cursor: pointer;
    pointer-events: auto;
}